@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;900&family=Playpen+Sans:wght@200;300;400;500;600&family=Roboto:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
  
}
body {
    color: white;
    background-color: black;
    font-family: 'Martel Sans', sans-serif;
}
.btn{
    cursor: pointer;
}

.main {

    height: 644px;
    background-image: url("Assets/bg2.jpg");
    position: relative;
    background-position: center center ;
    background-repeat: no-repeat; 
    background-size: max(1200px,100vw);
    padding-bottom: 210px;

    
}
nav{
    height: 100px;
    max-width: 76vw;
    /* padding-top: 10px; */
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;;
}
.logo{
    
    height: 40px;
    position: relative;
    z-index: 1;
}

.box {

    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
    padding-bottom: 210px;
}
.lang-logo{
    height: 16px ;
    position: absolute;
    z-index: 2;
    padding-left: 18px;
   
    /* left: 0; */
    /* top: 0; */
    /* background-color: aqua; */
}
.lang{
    border-radius: 3px;
    height: 34px;
    border: 2px solid rgb(85 85 85);
    color: white;
    background-color: rgba(0,0,0,.6);
    position: relative;
    z-index: 1;
    margin: 10px ;
    padding-left: 30px;
    padding-right: 12px;
    font-weight: 600;
}
.signin{
    border-radius: 5px;
    color: white;
    background-color: red;
    position: relative;
    z-index: 1;
    padding: 9px 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 20px;
    border: 0;
  

}


.text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    text-align: center;
    gap: 10px;
    padding: 0px 23px;
    padding-bottom: 150px;
    text-align: center;
   
   
    
}
.text >:first-child{
    font-size: 40px;
     font-weight: bold;
}

.text >:nth-child(2){
    font-size: 20px;
    font-weight: 300;
    
}

.text >:nth-child(3){
    font-size: 20px;
    
}
.form{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    text-align: center;
}
.submit{
    height: 56px;
    border-radius: 5px;
    color: white;
    background-color: red;
    position: relative;
    font-size: larger;
    z-index: 1;
    padding: 17px 28px;
    font-weight: 600;
    margin-left: 20px;
    border: 0;


}
.submit:hover{
    background-color: #c80711;
    /* color: rgb(85, 85, 85); */

}

input{
    height: 56px;
    width: 350px;
    font-size: medium;
    border-radius: 5px;
    color: whitesmoke;
    background-color: black;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    padding-left: 10px;
    padding-right: 40px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none; 
}
.line{
    height: 8px;
    width: 100%;
    background-color: rgb(35 35 35);
}
.content{

    display: flex;
    padding-bottom: 100px; 
    /* text-align: center; */
    /* text-wrap: wrap; */
}

.con-text{

    margin-top: 200px;
    margin-left:170px;
    margin-bottom: 200px;

    padding-right: 70px;

}

.con-text >:first-child{
    font-size: 40px;
     font-weight: bold;
     /* text-align: center; */
}

.con-text >:nth-child(2){

    font-size: 20px;
    font-weight: 300;
    /* text-align: center; */
}
.con-img{
    position: relative;
}
.img{
    margin-top: 100px;
    /* height: 400px; */
    width: 40vw;
    position: absolute;
    z-index: 1;

}
.video{
    position: absolute;
    padding-top: 190px;
    padding-left: 80px;
    /* padding-right: 100px; */
    width: 30vw;
}








.con-img2 {

    margin-top: 90px;
    margin-left:190px;
    position: relative;
  

}
.img2{
    /* height: 400px ; */
    width: 35vw;
}
.box2{
    width:  300px;
    height: 90px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(85 85 85);
    z-index: 1;
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    margin-left: 120px;
    margin-top: 290px;
    
    
}
.box2 p{
    margin-left: 40px;
    /* text-align: center; */
    padding: 40px  ;
    /* justify-items: center; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 15px;
}
.box2 p span{
    color: blue;
    font-size: 12px;
}
.box-img{
    height: 70px;
    position: absolute;
    z-index: 1;
    /* margin:  20px; */
    padding: 10px 10px;
    
    top: 0;
}

.bg{
    display: flex;
    height: 50px;
    margin-left: 235px;
    /* background-color: aquamarine; */
    /* background: url(Assets/download-icon.gif); */
    /* background-position: center center; */
    position: absolute;
    z-index: 1;
}
/* .box-img{
    

} */
.con-text2{
    margin-top: 200px;
    margin-left:50px;
}
.con-text2 >:first-child{
    font-size: 40px;
     font-weight: bold;
     /* text-align: center; */
}

.con-text2 >:nth-child(2){

    font-size: 20px;
    font-weight: 300;
    /* text-align: center; */
}
.con-img3{

    margin-top: 100px;
    margin-left:100px;
    
}
.img3{

    /* margin-top: 100px; */
    /* height: 400px; */
    width: 40vw;
    position: absolute;
    z-index: 1;
}
.video2{
    position: absolute;
    padding-top: 60px;
    padding-left: 105px;
    width: 25vw;
}
.con-text3{

    margin-top: 200px;
    margin-left:200px;
    margin-bottom: 200px;
    /* text-align: center; */

}

.con-text3 >:first-child{
    font-size: 40px;
     font-weight: bold;
     
}

.con-text3 >:nth-child(2){

    font-size: 20px;
    font-weight: 300;
}

.faq> h1{
    font-size: 48px;
    text-align: center;
    padding-top: 100PX;
}
.question{
    /* height: 60px; */
    /* justify-content: center; */
    align-items: center;
    
    background-color: #2d2d2d;
    margin: 20px 200px;
    padding: 20px 30px;
    /* display: flex; */
     
}

.question:hover{
    cursor: pointer;
    background-color: rgb(85 85 85);
}
.question-title{
    display: flex;
    font-size: 15px;
    /* margin-right: 600px; */
    /* row-gap: 10px; */
    /* padding-right: 600px; */
    justify-content: space-between;
}

.plus{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 30px;
    /* margin-left: 820px;
    padding-top: 5px; */


}
.text2{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text2 input{
    color: inherit;
    background-color: #2d2d2d;
    /* filter: opacity(0%); */
}
footer{
    /* display: flex; */
    margin: 50px 200px;
    color: #b3b3b3;
    position: relative;
    
}
footer a{
    color: #b3b3b3;
    
}
li{
    list-style: none;
    margin: 10px;
    font-size: small;
}
.call{
    margin-bottom: 10px;
}
.list{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
    margin-right: 200px;
}
.lang-logo2{
    height: 16px ;
    position: absolute;
    z-index: 2;
    margin-top: 19px;
    padding-left: 20px;
  
}
footer p{
    font-size: small;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    margin-left: 10px;
}



